.cell {
  width: 10px; /* cell sizes */
  height: 10px;
  padding: 0px; /* pad removal allows square cell shape */
  border: 1px solid white; /* add contrast between individual cells */
}

.control-buttons-container {
  display: block;
}
